# IDE files
.idea/
*.iml
.classpath
.project
.settings/
import-summary.txt
imports/**/.classpath
imports/**/.project
imports/**/lint.xml

secure.properties
local.properties
*.class
*.apk
*.ap_
*.dex
bin/
gen/
out/

*.swp
*.log
.gradle
.DS_store
build/
proguard/

